#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.alertPopup .maplibregl-popup-content {
    background-color: black;
    /* background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */

    border-radius: 10px;
    color: #bababa;

    /* padding: 10px 10px 5px; */
}
.alertPopup .maplibregl-popup-close-button {
    display: none;
}
/* https://github.com/mapbox/mapbox-gl-js/issues/2848#issuecomment-354447882 */
.alertPopup.maplibregl-popup-anchor-bottom .maplibregl-popup-tip { border-top-color: black; }
.alertPopup.maplibregl-popup-anchor-top .maplibregl-popup-tip { border-bottom-color: black; }
.alertPopup.maplibregl-popup-anchor-left .maplibregl-popup-tip { border-right-color: black; }
.alertPopup.maplibregl-popup-anchor-right .maplibregl-popup-tip { border-left-color: black; }

.alertPopup.maplibregl-popup-anchor-top-left .maplibregl-popup-tip { border-bottom-color: black; }
.alertPopup.maplibregl-popup-anchor-top-right .maplibregl-popup-tip { border-bottom-color: black; }
.alertPopup.maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip { border-top-color: black; }
.alertPopup.maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip { border-top-color: black; }

.attic_popup {
    position: absolute;
    z-index: 1;

    width: auto;
    height: auto;
    background-color: rgb(50, 50, 50);
    color: rgb(180, 180, 180);
    padding: 10px;
    border-radius: 7px;
    white-space: nowrap;
    font-size: 12px;
    border: 0.75px solid rgb(100, 100, 100);
}
/* https://cssarrowplease.com/ */
.attic_popup:after, .attic_popup:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    /* pointer-events: none; */
}
.attic_popup:after {
    border-color: rgba(50, 50, 50, 0);
    border-top-color: #323232;
    border-width: 10px;
    margin-left: -10px;
}
.attic_popup:before {
    border-color: rgba(100, 100, 100, 0);
    border-top-color: #646464;
    border-width: 11px;
    margin-left: -11px;
}

.alert_popup_info {
    position: absolute;
    right: 0px;
    padding-right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.alert_popup_lessertext {
    color: rgb(140, 140, 140);
}

.icon-black { color:rgb(0, 0, 0) }
.icon-grey { color:rgb(148, 148, 148) }
.icon-selected { color:rgb(0, 132, 255) }
.icon-green { color:rgb(17, 167, 17) }
.icon-red { color:red }
.icon-blue { color:rgb(92, 157, 255) !important }

.swiper-pagination {
    padding: 5px !important;
    position: static !important;
}
.swiper-wrapper {
    align-items: center !important;
}